<h2>Methods that were not run</h2><table>
<tr><td>learn.testng.altersuitelistener.test.SimpleTestClass.thirdTest</td></tr>
<tr><td>learn.testng.altersuitelistener.test.SimpleTestClass.firstTest</td></tr>
</table>