<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.firstTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@4b9e13df]">firstTest</td> 
  <td>TestNG-test=Testing-1@1303122746</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>-139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@3a82f6ef]">secondTest</td> 
  <td>TestNG-test=Testing(failed)-1@1444092527</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>-112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@3a82f6ef]">secondTest</td> 
  <td>TestNG-test=Testing(failed)-1@1444092527</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>-105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@3a82f6ef]">secondTest</td> 
  <td>TestNG-test=Testing(failed)-1@1444092527</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>-96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@3a82f6ef]">secondTest</td> 
  <td>TestNG-test=Testing(failed)-1@1444092527</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@4b9e13df]">secondTest</td> 
  <td>TestNG-test=Testing-2@130373193</td>   <td></td> </tr>
<tr bgcolor="acb575">  <td>19/05/27 14:18:21</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.thirdTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@4b9e13df]">thirdTest</td> 
  <td>TestNG-test=Testing-3@1214168089</td>   <td></td> </tr>
</table>
