<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>learn.testng.altersuitelistener.test.SimpleTestClass</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>secondTest</td>
<td>all secondtest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>thirdTest</td>
<td>all thirdTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>firstTest</td>
<td>all FirstTest </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
