<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>FirstTest</td><td>SimpleTestClass.firstTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]<br/></td></tr>
<tr><td>all</td><td>SimpleTestClass.thirdTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]<br/>SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]<br/>SimpleTestClass.firstTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]<br/></td></tr>
<tr><td>secondtest</td><td>SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]<br/></td></tr>
<tr><td>thirdTest</td><td>SimpleTestClass.thirdTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]<br/></td></tr>
</table>
