<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>19/05/27 13:18:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.firstTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]">firstTest</td> 
  <td>TestNG-test=Testing-1@2136470460</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/05/27 13:18:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]">secondTest</td> 
  <td>TestNG-test=Testing-2@1933178258</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/05/27 13:18:24</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]">secondTest</td> 
  <td>TestNG-test=Testing-2@1933178258</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/05/27 13:18:24</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]">secondTest</td> 
  <td>TestNG-test=Testing-2@1933178258</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/05/27 13:18:24</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.secondTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]">secondTest</td> 
  <td>TestNG-test=Testing-2@1933178258</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/05/27 13:18:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestClass.thirdTest()[pri:0, instance:learn.testng.altersuitelistener.test.SimpleTestClass@36d4b5c]">thirdTest</td> 
  <td>TestNG-test=Testing-3@1424140260</td>   <td></td> </tr>
</table>
